/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
    font-size: 12pt;
}

body {
    background-color: aliceblue;
}

main {
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.headline-h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

canvas {
    margin: 5px;
    border: 3px solid black;
    box-shadow: 5px 5px 10px black;
    box-sizing: content-box;
    background-color: ghostwhite;
}

button {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 3px;
    padding: 5px 3px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

button:active {
    box-shadow: inset 2px 2px 2px black;
}

form fieldset {
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
}

form label {
    font-size: 1.4rem;
    font-weight: 500;
}

form input {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 2px;
    padding: 2px;
}
