/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
    font-size: 12p;
}

body {
    background-color: lightseagreen;
}

main {
    margin-top: 30px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

canvas {
    background-color: ghostwhite;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black;
    box-sizing: content-box;
}

form {
    width: 330px;
    margin: 10px;
    padding: 10px;
    background-color: lightsalmon;
    border: 2px solid black;
    border-radius: 5px;
}

form label {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 2px;
    padding: 2px;
}

form input {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 2px;
    padding: 2px;
}

form input[type="submit"] {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 3px 5px;
    padding: 3px 5px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
}

form input[type="submit"]:active {
    box-shadow: inset 2px 2px 2px black;
}
