/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
    font-size: 12pt;
}

body {
    background-color: lightseagreen;
}

canvas {
    background-color: ghostwhite;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black;
    box-sizing: content-box;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
}

p {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

button {
    font-size: 1em;
    font-weight: 500;
    margin: 2px 5px;
    padding: 2px 5px;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
}

button:active {
    box-shadow: inset 2px 2px 2px black;
}
